body {
    font-family: "Gothic A1", sans-serif;
}

#clothing_container {
    display: flex;
    margin: auto;
}

#clothing_navbar {
    display: flex;
    justify-content: space-around;
}

#clothing_divs {
    margin-left: 30px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.clothing_Inner_div {
    text-align: center;
    width: 280px;
    height: 481px;
}

.clothing_Inner_div img {
    width: 280px;
    cursor: pointer;
}

.clothing_head {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    text-align: left;
    text-decoration: underline;
}


/* .clothing_head p{
  font-size: 14px;
 
  line-height: 20px;
  cursor: pointer;
 
} */

.span_new {
    font-size: 15px;
    text-decoration: overline;
    opacity: 40%;
    cursor: pointer;
}

#StarImage {
    margin-top: 6%;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    opacity: 40%;
}

#slidebar {
    width: 20%;
    margin-top: 60px;
}

#sort {
    margin-top: 5px;
    height: 30px;
    width: 70px;
    border: 0px;
    cursor: pointer;
}


/* Responsive  */

@media only screen and (min-width: 421px) and (max-width: 780px) {
    #clothing_divs {
        grid-template-columns: repeat(2, 1fr);
        margin-left: -10px;
        gap: 20px;
    }
}

@media only screen and (min-width: 70px) and (max-width: 420px) {
    #clothing_divs {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Customize the label (the container) */

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

ul {
    list-style: none;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 12px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #ccc;
    font-weight: bold;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 2px;
    height: 4px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#slidebar h1 {
    font-size: 20px;
    margin-top: -1px;
    margin-bottom: -8px;
    text-decoration: underline;
}

#slidebar li {
    margin-left: -35px;
    margin-top: 10px;
    font-size: 17px;
}

#slidebar li:hover {
    font-weight: 800;
    cursor: pointer;
}

#kids_clothing:hover {
    cursor: pointer;
    font-weight: 800;
}

#mens_clothing:hover {
    cursor: pointer;
    font-weight: 800;
}

#womens_clothing:hover {
    cursor: pointer;
    font-weight: 800;
}


/*Footer li part of  men women page */

#footers_men_women_kid {
    border-top: 1px grey solid;
}

#footers_men_women_kid ul li {
    margin-top: 20px;
}

.footer_header {
    font-weight: bold;
    font-size: 18px;
}

#footers_header_part {
    font-size: 23px;
    text-align: center;
}

#sort {
    margin-top: 5px;
    height: 30px;
    width: 70px;
    border: 0px;
    cursor: pointer;
}


/* arun */

.clothing_head {
    position: relative;
}

#hover-items-show {
    position: absolute;
    width: 285px;
    height: 300px;
    background-color: #fff;
    margin-left: 22px;
    border: 1px solid rgb(200, 196, 196);
    display: none;
}

.size_containers {
    width: 58px;
    border: 1px solid rgb(191, 187, 187);
    height: 60px;
    margin: auto;
    text-align: center;
}

#take_all_size_inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}


/* .teke_flex-thing {
    background: red;
    margin-bottom: 5px;
} */

.teke_flex-thing i {
    position: absolute;
    left: 11em;
    top: 1em;
    font-size: 22px;
}


/* .take_all_size_inner :hover{
    background-color: 1px solid blue;
} */

.size_containers p {
    line-height: 6px;
    cursor: pointer;
}

.teke_flex-thing {
    display: flex;
}

#hover-items-show button {
    width: 100%;
    margin-top: 12px;
    height: 32px;
    background-color: #111;
    color: #fff;
    border: none;
}

#hover-items-show button:last-child {
    background-color: rgb(237, 235, 235);
    color: #111;
}